* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    height: 50px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;  
}

.subheader .subheader_official {
    margin-top: 6px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
}

.subheader .subheader_call {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    margin-top: 23px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    color: #FFFFFF;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.cooperation {
min-height: 849px;
background: #FFFFFF;
}

.cooperation .advantages{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cooperation .cooperation_header{
    margin-top: 32px;
    color: #222222;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.cooperation .cooperation_descr span{
    color: #1EACC7;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.cooperation .cooperation_descr {
    color: #202020;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    width: 343px;
    
}

.cooperation .cooperation_item {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
}
